.rotate-gallery-container {
	padding: 0 20px;
}
.rotate-gallery  {
	--s: 250px; /* control the size */

	display: grid;
	width: var(--s);
	aspect-ratio: 1;
	overflow: hidden;
	padding: calc(var(--s)/20);
	border-radius: 50%;
	position: relative;
	clip-path: circle(49.5%); /* to avoid a few glitch cause by overflow: hidden */
}
.rotate-gallery::after {
	content: "";
	position: absolute;
	inset: 0;
	padding: inherit;
	border-radius: inherit;
	background: repeating-conic-gradient(#1d908c 0 30deg,#66CBC7 0 60deg);
	-webkit-mask:
			linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
}
.rotate-gallery > img {
	grid-area: 1/1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: inherit;
	transform-origin: 50% 120.7%;
}
.rotate-gallery::after,
.rotate-gallery > img {
	animation: m 40s infinite cubic-bezier(.1,-0.1,.1,1.1);
}
.rotate-gallery > img:nth-child(2) {animation-delay: -10s}
.rotate-gallery > img:nth-child(3) {animation-delay: -20s}
.rotate-gallery > img:nth-child(4) {animation-delay: -30s}

@keyframes m {
	0%,3%    {transform: rotate(0)}
	22%,27%  {transform: rotate(-90deg)}
	47%,52%  {transform: rotate(-180deg)}
	72%,77%  {transform: rotate(-270deg)}
	98%,100% {transform: rotate(-360deg)}
}


body {
	margin: 0;
	min-height: 100vh;
	display: grid;
	place-content: center;
	background: transparent;
}
