@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap");

.App {
	font-family : "Libre Caslon Display", sans-serif;
	text-align  : center;
}

.colmena-gallery-container {
	display: grid;
	justify-content: center;
	padding: 50px 0;
	background-color: black;
	z-index: 5;
}
